<template>
  <div class="fixed inset-x-0 bottom-0 bg-white footer-shadow">
    <div class="container mx-auto h-20 flex items-center">    
      <div class="grid grid-cols-2 gap-4 flex-1">
        <a
          href="#"
          @click.prevent="setShowFavorites(false)">
          <PkmnButton
            :disabled="showFavorites"
            class="w-full"
          >
            <img
              src="/icons/menu.png"
              alt="icon-menu"
            >
            <span class="ml-2.5">All</span>
          </PkmnButton>
        </a>
        <a
          href="#"
          @click.prevent="setShowFavorites(true)"
        >
          <PkmnButton
            :disabled="!showFavorites"
            class="w-full"
          >
            <img
              src="/icons/star.png"
              alt="icon-star"
            >
            <span class="ml-2.5">Favorites</span>
          </PkmnButton>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations} from 'vuex'
import PkmnButton from '@/components/General/PkmnButton'
export default {
  components: {
    PkmnButton
  },
  computed: {
    ...mapGetters({
      showFavorites: 'getShowFavorites'
    })
  },
  mounted () {
    this.setShowFavorites(false)
  },
  methods: {
    ...mapMutations({
      setShowFavorites: 'SET_SHOW_FAVORITES'
    })
  }
}
</script>

<style scoped>
.footer-shadow {
  box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.05);
}
</style>