<template>
  <main class="container mx-auto text-center flex flex-col items-center justify-center min-h-screen">
    <div class="flex justify-center">
      <div class="relative welcome-image">
        <div class="ellipse">
          <img
            src="/images/elipse.png"
            alt="image-elipse"
            class="w-full"
          >
        </div>
        <div class="pikachu">
          <img
            src="/images/pikachu.png"
            alt="image-pikachu"
            class="w-full"
          >
        </div>
      </div>
    </div>
    <p class="text-3xl font-bold mt-16 mb-4">Welcome to Pokédex</p>
    <p class="text-lg mb-10">The digital encyclopedia created by Professor Oak is an invaluable tool to Trainers in the Pokémon world.</p>
    <nuxt-link to="/list">
      <PkmnButton>Get started</PkmnButton>
    </nuxt-link>
  </main>
</template>

<script>
import PkmnButton from '@/components/General/PkmnButton'
export default {
  components: {
    PkmnButton
  }
}
</script>

<style lang="postcss">
.welcome-image {
  @apply relative;
  & .ellipse {
    width: 12.8rem;
  }
  & .pikachu {
    @apply absolute;
    width: 19.7rem;
    left: -2.8rem;
    top: -4rem;
  }
}
</style>
