<template>
  <main class="container mx-auto min-h-screen">
    <div
      v-if="!dataLoaded"
      class="min-h-screen flex justify-center items-center"
    >
      <Loader />
    </div>
    <div
      v-else
      class="pt-8 pb-20 text-center"
    >
      <InputSearch
        placeholder="Search"
        v-model="search"
      />
      <div
        v-if="filteredList && filteredList.length > 0"
        class="pt-10"
      >
        <PokemonRow
          v-for="(pokemon, i) in filteredList"
          :key="`pkm-${i}`"
          :content="pokemon"
        />
      </div>
      <div v-else class="mt-16">
        <p class="text-4xl font-bold mb-6">Uh-oh!</p>
        <p class="text-xl mb-6">You look lost on your journey!</p>
        <nuxt-link to="/">
          <PkmnButton class="mx-auto">Go back home</PkmnButton>
        </nuxt-link>
      </div>
    </div>
    <PokemonModal />
    <Footer />
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import Loader from '@/components/General/Loader'
import InputSearch from '@/components/General/InputSearch'
import PkmnButton from '@/components/General/PkmnButton'
import PokemonRow from '@/components/General/PokemonRow'
import PokemonModal from '@/components/General/PokemonModal'
import Footer from '@/components/Footer'
export default {
  components: {
    Loader,
    InputSearch,
    PkmnButton,
    PokemonRow,
    PokemonModal,
    Footer
  },
  computed: {
    ...mapGetters({
      showFavorites: 'getShowFavorites',
      favoriteList: 'getFavoriteList'
    }),
    filteredList () {
      let filtered = this.pokemonList.filter(pk => pk.name.includes(this.search.toLowerCase()))
      if (this.showFavorites) {
        filtered = filtered.filter(pk => this.favoriteList.includes(pk.name))
      }
      return filtered
    }
  },
  data () {
    return {
      dataLoaded: false,
      pokemonList: null,
      search: ''
    }
  },
  async mounted () {
    try {
      const res = await this.$axios.$get('https://pokeapi.co/api/v2/pokemon')
      this.pokemonList = res.results
      this.dataLoaded = true
    } catch (error) {
      console.log(error)
    }
  }
}
</script>