<template>
  <div class="bg-white input-search rounded relative flex">
    <img
      src="/icons/search.png"
      alt="icon-search"
      class="absolute pointer-events-none top-4 left-4"
    >
    <input
      :value="value"
      @input="e => { $emit('input', e.target.value) }"
      :placeholder="placeholder"
      type="text"
      class="bg-transparent w-full pl-10 pr-4"
    >
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String
    },
    value: {
      type: String
    }
  }
}
</script>

<style>
.input-search {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
  height: 3.125rem;
}
</style>