<template>
  <div class="flex pokeball-loader">
    <img
      src="/images/loader.png"
      alt="image-loader"
    >
  </div>
</template>

<style class="postcss">
.pokeball-loader {
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
</style>