<template>
  <button
    :class="disabled ? 'bg-gray' : 'bg-red active:bg-dark-red'"
    class="text-lg rounded-full px-5 py-2 h-11 text-white flex justify-center items-center"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>