<template>
  <div class="relative">
    <a
      href="#"
      @click.prevent="openInModal()"
    >
      <div class="bg-white rounded flex items-center justify-between h-15 px-5 mb-2.5">
        <p class="text-2xl capitalize">{{ content.name }}</p>
      </div>
    </a>
    <a
      href="#"
      @click.prevent="isFavorite
        ? removeFromFavoriteList(content.name)
        : addToFavoriteList(content.name)"
    >
      <Star
        :star-color="isFavorite ? '#ECA539' : '#BFBFBF'"
        class="absolute top-2 right-2.5"
      />
    </a>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Star from '../General/Star'
export default {
  components: {
    Star
  },
  props: {
    content: {
      type: Object,
      default: () => {
        return {
          name: ''
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      favoriteList: 'getFavoriteList'
    }),
    isFavorite () {
      return this.favoriteList.some(el => el === this.content.name)
    }
  },
  methods: {
    ...mapMutations({
      addToFavoriteList: 'ADD_TO_FAVORITE_LIST',
      removeFromFavoriteList: 'REMOVE_FROM_FAVORITE_LIST',
      setPokemon: 'SET_SELECTED_POKEMON',
      setShowModal: 'SET_SHOW_MODAL',
    }),
    async openInModal () {
      try {
        const res = await this.$axios.$get('https://pokeapi.co/api/v2/pokemon/' + this.content.name)
        this.setPokemon(res)
        this.setShowModal(true)
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
