<template>
  <transition name="modal-fade">
    <div
      v-show="showModal"
      class="fixed inset-0 bg-black bg-opacity-60 z-20 flex items-center justify-center">
      <div
        v-if="selectedPokemon"
        class="relative container"
      >
        <div class="bg-white rounded overflow-hidden">
          <div class="bg-pokemon">
            <img
              :src="imagePokemon"
              alt="image-pokemon"
              class="h-full w-full object-contain"
            >
          </div>
          <div class="px-8 pt-2 pb-4 text-lg">
            <div
              v-for="(item, i) in infoPokemon"
              :key="`pk-${i}`"
              class="border-b border-gray-light py-2.5"
            >
              <p>
                <b>{{ item.title }}:</b>
                <span class="capitalize">{{ item.value }}</span>
              </p>
            </div>
            <div class="flex justify-between mt-5">
              <a href="#" @click.prevent="saveToClipboard()">
                <PkmnButton>Share to my friends</PkmnButton>
              </a>
              <a
                href="#"
                @click.prevent="isFavorite
                  ? removeFromFavoriteList(selectedPokemon.name)
                  : addToFavoriteList(selectedPokemon.name)"
              >
                <Star :star-color="isFavorite ? '#ECA539' : '#BFBFBF'" />
              </a>
            </div>
          </div>
        </div>
        <a
          href="#"
          @click.prevent="setShowModal(false)"
        >
          <div class="absolute top-4 right-4">
            <img
              src="/icons/close.png"
              alt="icon-close"
            >
          </div>
        </a>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Star from '../General/Star'
import PkmnButton from '@/components/General/PkmnButton'
export default {
  components: {
    Star,
    PkmnButton
  },
  computed: {
    ...mapGetters({
      favoriteList: 'getFavoriteList',
      showModal: 'getShowModal',
      selectedPokemon: 'getSelectedPokemon',
    }),
    isFavorite () {
      return this.favoriteList.some(el => el === this.selectedPokemon.name)
    },
    imagePokemon () {
      let image
      try {
        image = this.selectedPokemon.sprites.other['official-artwork'].front_default
      } catch (error) {
        console.log(error)
        image = ''
      }
      return image
    },
    infoPokemon () {
      let selected = []
      try {
        selected.push({ title: 'Name', value: this.selectedPokemon.name })
        selected.push({ title: 'Weight', value: this.selectedPokemon.weight })
        selected.push({ title: 'Height', value: this.selectedPokemon.height })
        selected.push({
          title: 'Types',
          value: this.selectedPokemon.types.map(el => {
            let name = el.type.name
            return name[0].toUpperCase() + name.slice(1)
          }).join(', ') })
      } catch (error) {
        console.log(error)
        selected = []
      }
      return selected
    }
  },
  methods: {
    ...mapMutations({
      addToFavoriteList: 'ADD_TO_FAVORITE_LIST',
      removeFromFavoriteList: 'REMOVE_FROM_FAVORITE_LIST',
      setShowModal: 'SET_SHOW_MODAL',
    }),
    saveToClipboard () {
      let infoToCB = this.infoPokemon.map(el => el.title + ': ' + el.value).join(', ')
      navigator.clipboard.writeText(infoToCB).then(() => {
        alert('Copied!')
      }, (error) => {
        console.error(error)
      });
    }
  }
}
</script>

<style lang="scss">
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: all .5s ease;
}
.modal-fade-enter, .modal-fade-leave-to {
  opacity: 0;
}

.bg-pokemon {
  background-image: url(/images/bg-pokemon.png);
  height: 13.75rem;
}
</style>